tui-dom() {
    font-family: 'Courier New', monospace;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 1px;
    letter-spacing: 0.39990234375px;
    line-height: 1px;
    z-index: 2;
    visibility: visible;
    overflow: hidden;

    * {
        padding: 0;
        margin: 0;
        line-height: inherit;
        font-size: inherit;
        letter-spacing: inherit;
        font-family: inherit;

        ::-webkit-scrollbar {
            width: 1px;
            height: 0;
        }
    }
}

tui-cli() {
    font-family: 'Courier New', monospace;
    position: fixed;
    left: 0;
    top: 0;
    font-size: 13px;
    line-height: 13px;
    display: inline-block;
    margin: 0;
}
