.tui-dom {
    font-family: 'Courier New', monospace;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 1px;
    line-height: 1px;
    letter-spacing: 0.4px;
    z-index: 2;
    visibility: visible;
}

.tui-dom * {
    padding: 0;
    margin: 0;
    line-height: inherit;
    font-size: inherit;
    letter-spacing: inherit;
    font-family: inherit;
}

.tui-cli {
    font-family: 'Courier New', monospace;
    position: absolute;
    left: 0;
    top: 0;
    font-size: 13px;
    line-height: 13px;
    display: inline-block;
    margin: 0;
}
