html, body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

#dom {
    position: absolute;
    visibility: hidden;
    font-size: 0;
    line-height: 1px;
    letter-spacing: 1px;
}

#dom.phantom {
    font-size: 1px;
}

#dom.debug {
    -webkit-transform: translate(370px, 190px) scale(10, 10);
    -moz-transform: translate(370px, 190px) scale(10, 10);
    transform: translate(370px, 190px) scale(10, 10);
    visibility: visible;
}

#dom ul {
    padding: 0;
}

#cli {
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    margin: 0;
}