html, body {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

#dom {
    position: absolute;
    visibility: hidden;
    font-size: 0;
    line-height: 1px;
    letter-spacing: 1px;
    transform: scale(10, 16.4) translate(37px, 9px);
}

#dom.phantom {
    font-size: 1px;
}

#dom ul {
    padding: 0;
}

#cli {
    font-size: 16px;
    line-height: 16px;
    display: inline-block;
    margin: 0;
}
